 .header-title {
	font-family: 'Tektur', serif;
	color: #8A8D8F;
	font-weight: bold;
}
 
 .navbar .nav-link {
	border-radius: 8px;
  }

  .navbar .nav-link:hover {
	color: #ffffff;
	background-color: rgba(21, 173, 173, 0.1);
  }
