networks:
  transcendence:

services:
# NGINX
  nginx:
    build: ./nginx/
    container_name: nginx
    ports:
      - "443:443"
    volumes:
      - ./nginx/conf:/etc/nginx/conf.d
      - ./nginx/ssl_certs/private:/etc/nginx/ssl/private
      - ./nginx/ssl_certs/public:/etc/ssl/certs
    networks:
      - transcendence
    restart: always
# POSTGRES
  postgres:
    build: ./postgres
    container_name: postgres
    ports:
      - "5432:5432"
    networks:
      - transcendence
    env_file:
      - .env
    depends_on:
      - nginx
    restart: always
# FRONTEND
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    networks:
      - transcendence
    depends_on:
      - backend
    restart: always
# BACKEND
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    networks:
      - transcendence
    env_file:
      - .env
    depends_on:
      - postgres
    restart: always
    # volume for development only
    volumes:
      - ./backend/:/app/
